.button {
    display: inline-block;
    cursor: pointer;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    transition: all 0.6s;
}

.primary {
    background: var(--primary);
    color: var(--white);
}

.primary:hover {
    background: var(--primary--hover);
}

.primary:active {
    background: var(--primary--active);
}

.ghost {
    border: 1px solid var(--grey-light);
    background: none;
    color: var(--black);

}

.ghost:hover {
    background: var(--grey-light);
}

.ghost:active {
    background: var(--greyLight--active);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.6s;
}

.primary svg {
    fill: var(--white);
}