:root {
    --black: #3B434E;
    --greyLight: #EBEBEB;
    --greyLight--active: #8f8f8f;
    --white: white;
    --primary: #7653FC;
    --primary--hover: #8069ff;
    --primary--active: #4e36e5;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans', sans-serif;
    --font-size--s:14px;
    --font-size--m:16px;
    --font-size--l:18px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-family);
    color: var(--black);
    background: #f5f6f8;
    font-size: var(--font-size--m);
}

a {
    text-decoration: none;
    color: inherit;
}

